<%= "No results" unless @people.any? %>

<div class="full-width-row">
  <div class="medium-12 columns filters">
    <%= search_form_for @q do |f| %>
      <ul class="inline-list left">
        <li><a href="#" style="color: #fff">Female</a></li>
        <li><a href="#">Male</a></li>
        <li><a href="#">Other</a></li>
      </ul>
      <div class="right">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns">
            <span class="prefix"><i class="fa fa-search"></i></span>
          </div>
          <div class="small-9 columns">
            <%= f.search_field :name_cont %>
          </div>
        </div>
      </div>
      <div class="right">
        <ul class="inline-list display-type">
          <li><a href="#"><i class="fa fa-fixed fa-th" style="color: #fff"></i></a></li>
          <li><a href="#"><i class="fa fa-fixed fa-bars"></i></a></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<ul class="nostyle grid">
  <li class="large-3 medium-4 small-12 text-center grid-model">
    <figure class="effect-chico">
      <h3>Instructions</h3>
      <figcaption>
        <!-- <h2>Nice <span>Lily</span></h2> -->
        <p>Click models that catch your eye for more information, the heart to add them to your favourites and the bookmark to add them to your shortlist.</p>
        <a href="#">View more</a>
      </figcaption>
    </figure>
  </li>
  <%= render @people  %>
</ul>