/*
 *= require framework_and_overrides
 *= require font-awesome
 *= require_self
 */

@import "foundation/functions";
@import "bourbon";
$rem-base: 16px;
$linkColor: #484744;
$bgColor: #fefefe;
$sidebar-width: 200px;

$body-font: "leitura-news";
$header-font: "ff-dagny-web-pro";

body {
  background: #000;
  position:relative;
  height:100%; /* some height */
  font-family: $body-font;
  > header {
    background: #000;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #202020;
    z-index: 6;
    h1 {
      color: #fff;
      font-family: $body-font;
      padding: 29px;
      letter-spacing: -0.3px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

a {
  color: $linkColor;
}

.full-width-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

span.fa-stack {
  margin-right: 3px;
}

ul.nostyle {
  padding: 0;
  margin: 0;
  list-style:none;
  li {
    padding: rem-calc(20);
  }
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#main-nav {
  background: #000;
  width: $sidebar-width;
  width: 17.9%;
  position: fixed;
  bottom: 0;
  padding: 25px;
  padding-top: 0;
  top: 129px;
  // border-top: 1px dotted rgb(219, 219, 219);
  border-top: 1px solid #202020;
  border-right: 1px solid #202020;
  z-index: 5;
  li.divider {
    border-top-color: #202020;
  }
  h5 {
    font-size: rem-calc(10);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    color: lighten(#484744, 5%);
  }
  li {
    margin: 15px 0px;
    i {
      margin-right: 7px;
      color: #3A3A3A;
    }
    a {
      //font-family: "ff-dagny-web-pro";
      font-weight: normal;
      color: #929292;
      @include transition(all, 0.25s);
      padding: 3px 0;
    }
    a:hover {
      color: #9147FF;
    }
    a.active {
      color: #fff !important;
    }
  }
}

#main-content {
  padding-left: 18%;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: visible;
  margin-top: 198px;
  main {
    // padding: rem-calc(40);
    padding: 0;
    h3 {
      margin-left: 25px;
    }
  }
  .keywords {
    color: lighten(#484744, 30%);
    font-size: rem-calc(14);
    i {
      color: #9147FF;
    }
    margin-bottom: rem-calc(32);
  }
  .grid-model {
    display: inline-block;
    // width: 16.2999%;
    // padding-left: 2.9375rem;
    // padding-right: 2.9375rem;
    padding: 0;
    float: left;
    height: 407px;
    img {
      // margin-bottom: rem-calc(16);
      height: 407px;
    }
    h4, h5 {
      font-size: rem-calc(14);
      font-family: $body-font, Georgia, serif;
    }
    h4 {
      font-weight: bold;
    }
    h5 {
      color: #CCC9BD;
    }
  }
}


.filters {
  background: #000;
  border-bottom: 1px solid #202020;
  position: fixed;
  top: 130px;
  z-index: 6;
  width: 82.1%;
  right: 0;
  ul {
    margin: 0;
  }
  li {
    a {
      color: #929292;
    }
    font-family: $header-font;
  }
  .prefix {
    background: transparent;
    border: none;
    color: #ccc;

  }
  input[type="search"] {
    border: none;
    background: transparent;
    border-radius: 0;
    color: #fff;
    margin: 0;
    box-shadow: none;
    font-family: $header-font;
    padding: 0 2px;
  }
  padding: 0;
  .left {
    padding: 21px 20px;
    border-right: 1px solid #202020;
  }
  .right {
    padding: 15px 20px;
    border-left: 1px solid #202020;
  }
  .display-type {
    padding: 6px 0;
    li {
      margin: 0 8px;
    }
  }
}

@import 'hovers';
img.toAnimate {
  position: absolute;
  z-index: 5;
  overflow: visible;
  display: inline-block;
  padding: 5px;
  @include transition(all, 0.5s);
}
img.animating {
  bottom: 100px;
  left: -500px;
  width: 50px;
  height: auto !important;
}

@import 'people';